<!-- page-error-404.njk -->
{% set pageId = "404" %}
{% set pageClass = "body_status" %}

{% extends "hippie/demo-maintenance.njk" %}

{% block title %}404{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="../../css/demo_basic.css"/>
<!-- <link rel="stylesheet" type="text/css" media="print" href="./css/print.css"/> -->
{% endblock %}

{% block body_content %}
<main class="main_site">
  <h1>404</h1>
  <h3>Client-Fehler</h3>
  <p>Hier ist nichts. <dfn>Not Found</dfn></br>
  <blockquote cite="https://de.wikipedia.org/wiki/HTTP-Statuscode#4xx_.E2.80.93_Client-Fehler">
    <p>Die angeforderte Ressource wurde nicht gefunden. Dieser Statuscode kann ebenfalls verwendet werden, um eine Anfrage ohne näheren Grund abzuweisen. Links, welche auf solche Fehlerseiten verweisen, werden auch als Tote Links bezeichnet.</p>
    <p class="quote_source"><a href="https://de.wikipedia.org/wiki/HTTP-Statuscode#4xx_.E2.80.93_Client-Fehler">Wikipedia</a></p>
  </blockquote>
</main>
{% include "hippie/partials/footer-status.njk" %}
{% endblock %}
