<!-- body_nav.partial -->
<div class="pos_rel">
	<nav class="nav_page_meta">
		<ul>
			<li class="magic">
				<a href="#begin" class="js_scrolltop a_button_meta">
					<div class="sprite_img demo__sprite_up"></div>
					{# <img src="../art/up.png" alt="" width="32" height="64"> #}
				</a>
			</li>
			<li>
				{# <button class="">Show Meta Information</button> #}
				<a href="#meta" class="js_showmeta a_button_meta">
					<div class="sprite_img demo__sprite_meta meta"></div>
				</a>
			</li>
			<li>
				<a href="#end" class="js_scrolldown a_button_meta">
					<div class="sprite_img demo__sprite_down"></div>
					{# <img src="../art/down.png" alt="" width="32" height="32"> #}
				</a>
			</li>
		</ul>
	</nav>
</div>
{# <div class="exp_overlay_btn exp_help_btn">
	<span class="span_solo">?</span>
</div> #}
