<!-- nav-page-meta.partial -->
<nav class="nav_page_meta">
	<ul>
		<li class="magic">
			<a href="#begin" id="js_scrolltop" class="a_button_meta">
				<div class="sprite_img demo__sprite_up"></div>
				{# <img src="../art/up.png" alt="" width="32" height="64"> #}
			</a>
		</li>
		<li>
			{# <button class="">Show Meta Information</button> #}
			<a href="#meta" class="a_button_meta">
				<div class="sprite_img demo__sprite_meta meta"></div>
			</a>
		</li>
		<li>
			<a href="#end" id="js_scrolldown" class="a_button_meta">
				<div class="sprite_img demo__sprite_down"></div>
				{# <img src="../art/down.png" alt="" width="32" height="32"> #}
			</a>
		</li>
	</ul>
</nav>
