<!-- page-blank.njk -->
{% set pageId = "blank" %}
{% set pageClass = "height_full" %}

{% extends "demo/_default.njk" %}

{% block title %}Blank{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}

{% endblock %}
