<!-- page-maintenance.njk -->
{% set pageId = "blank" %}
{% set pageClass = "h_full_view" %}

{% extends "demo/_maintenance.njk" %}

{% block title %}Maintenance{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
<div id="root" class="overflow">
	<h1 class="txt_hero txt_center txt_gradient">HIPPIE</h1>
</div>
{% endblock %}
