{% set item = [['one', 'filename'], ['two', 'filename']] %}
{% macro active(activePage='') %}<!-- nav.macro -->
			<nav class="nav_site">
				<ul class="nav_site_main">
					{% for a, b in item -%}
					<li{%if activePage == a %} class="active_txt"{% endif %}>{%if activePage == a %}{{ a }}{%else%}<a href="{{ b }}.html">{{ a }}</a>{% endif %}</li>
					{% endfor -%}
				</ul>
			</nav>
{%- endmacro %}
