<!-- page-index.njk -->
{% set pageId = "index" %}
{% set pageClass = "height_full" %}

{% extends "hippie/demo-default.njk" %}

{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="css/demo.css"/>
<!-- <link rel="stylesheet" type="text/css" media="print" href="./css/print.css"/> -->
{% endblock %}

{% block body_content %}
<div class="wrap">
  <div class="hello">
    <h2>This is HIPPIE</h2>
    <p>You can start using it by replacing this file with your own index page.</p>
    <p>To do this you need to open the file <code>/gulpfile.js</code> and comment out the line <code>index: "demo.html",</code>. Then you need to place your index file (<code>index.njk</code>) into the folder <code>/source/pages</code>.</p>
    <p>For a very basic start you can make a copy of the demo page <code>blank.njk</code>. You can find it at <code>/source/pages/demo</code>.</p>
    <p>The folder <i>demo</i> contains examples and also an overview of definitions made.<br/>Follow the white rabbit.</p>
    <h3>Overview about all the styles</h3>
    <ul class="list_link">
      <!-- Loops through "demoadditionallinks" array -->
      {% for link in demoadditionallinks %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
    <div class="pos_rel">
      <pre class="txt_tiny txt_white pos_abs pin_down pin_right">
  ()()
  (..)
C(")(")</pre>
      <h3>Demo Pages</h3>
  </div>
    <ul class="list_link">
      <!-- Loops through "demo-links" array -->
      {% for link in demolinks %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="./js/all.min.js" type="text/javascript"></script>
<script type="text/javascript">
// Page specific
// ------------------------------------------------------------------------------
$( document ).ready(function() {
  console.log('HIPPIE');
});
</script>
{% endblock %}
