<!-- index.njk -->
{% set pageId = "index" %}
{% set pageClass = "height_full" %}

{% extends "default.njk" %}

{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body_content %}
<div class="wrap">
  <ul class="list__link hello">
    <li><a href="intro.html">Intro</a></li>
    <li><a href="elements.html">Elements</a></li>
    <li><a href="os.html">OS</a></li>
    <li><a href="blank.html">Blank</a></li>
    <li><a href="404.html">404</a></li>
    <li><a href="500.html">500</a></li>
  </ul>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
// Page specific
// ------------------------------------------------------------------------------
$( document ).ready(function() {
  console.log('HIPPIE');
});
</script>
{% endblock %}
