<!-- index.njk -->
{% set pageId = "index" %}
{% set pageClass = "height_full" %}

{% extends "default.njk" %}

{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body_content %}
<div class="wrap">
  <div class="hello">
    <h2>This is HIPPIE</h2>
    <p>You can start using it by replacing this file with your own index page.</p>
    <p>The folder <i>demo</i> contains examples and also an overview of definitions made.<br/>Follow the white rabbit.</p>

    <h3>Demo Pages</h3>
    <ul class="list__link">
      <!-- Loops through "demo-links" array -->
      {% for link in demolinks %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
    <pre class="txt-tiny txt_white">
  ()()
  (..)
C(")(")</pre>
    <h3>Overview about all the styles</h3>
    <ul class="list__link">
      <!-- Loops through "links" array -->
      {% for link in links %}
      <li><a href="{{link.href}}">{{link.text}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
// Page specific
// ------------------------------------------------------------------------------
$( document ).ready(function() {
  console.log('HIPPIE');
});
</script>
{% endblock %}
