<!-- index.njk -->
{% set pageId = "index" %}
{% set pageClass = "height_full" %}

{% extends "default.njk" %}

{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body_content %}
<div class="wrap">
  <div class="hello">
    <h2>Demo Pages</h2>
    <ul class="list__link">
      <li><a href="demo/intro.html">Intro</a></li>
      <li><a href="demo/os.html">OS</a></li>
      <li><a href="demo/blank.html">Blank</a></li>
      <li><a href="demo/error/404.html">404</a></li>
      <li><a href="demo/error/500.html">500</a></li>
    </ul>
    <h2>Overview about all the styles</h2>
    <ul class="list__link">
      <li><a href="elements.html">Elements</a></li>
      <li><a href="tests.html">Tests</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
// Page specific
// ------------------------------------------------------------------------------
$( document ).ready(function() {
  console.log('HIPPIE');
});
</script>
{% endblock %}
