<!-- blank.njk -->
{% set pageId = "blank" %}
{% set pageClass = "height_full" %}

{% extends "maintenance.njk" %}

{% block title %}Wartung{% endblock %}

{% block body_content %}
<div id="root" class="overflow">
	<h1 class="txt_hero txt_center txt_gradient">HIPPIE</h1>
</div>
{% endblock %}
