.table_link {
	width: 100%;
	border: 0;
	table-layout: auto;

	tbody {
		border-bottom: $basic_border;

		&:hover {
			background-color: $bright_color;
		}
	}

	th, td {
		border: 0;
	}

	.cell_icon {
		width: 48px;
		text-align: center;
		img {
			vertical-align: text-top;
		}
	}

	.cell_link {
		padding-right: $basic_space;
		padding-left: $basic_space;

		&:hover {
			background-color: $foxtrot_color;
			a:first-child {
				display: none;
			}
			a:last-child {
				display: block;
				color: $basic_highlight_color;
			}
		}

		a {
			display: block;
		}

		a:last-child {
			display: none;
		}
	}

	th:last-child, .cell_date {
		width: 16%;
		text-align: center;
	}

	.cell_text {
		padding-right: $basic_space;
		padding-left: $basic_space;

		div {
			width: 100%;
		}

		.shorten {
			@extend %short;
			max-height: 44px;
		}
	}
}
