// Grouping content
// -----------------------------------------------------------------------------
// p
// address
// hr
// pre
// blockquote
// ol
// ul
// li
// dl
// dt
// dd
// figure
// figcaption
// main
// div



// Paragraph
p {
	@extend %basic;
	margin-top: $basic_space;
	margin-bottom: $basic_space;
	code {
		padding: $tiny_space $half_space;
		font-size: 1em;
		line-height: 1;
	}
}

// Address
address {
	// @extend %basic;
	margin-top: $double_space;
	margin-bottom: $double_space;
}

// Line
hr {
	margin: $space_3 auto;
	border-width: $basic_border_width 0 0;
	border-style: solid;
	border-color: $darkest_color;
}

.hr_hidden {
	@extend hr;
	border-color: transparent;
}

.hr_dotted {
	@extend hr;
	border-style: dotted;
}

// Preformat
pre {
	@extend %basic_mono;
}

.pre_code {
	overflow-x: auto;
	border-color: rgba($brightest_color,.1);
	border-style: dotted;
	border-width:  0 0 0 $border_width_4;
	border-radius: $basic_corner;
	padding: $basic_space;
	background-color: rgba($brightest_color,.1);
	code {
		background-color: transparent;
	}
}

// Quote
blockquote {
	margin: $basic_space 0;
	padding-right: $basic_indent;
	padding-left: $basic_indent;
}

.quote_mark {
	p::before {
		content: "\201E \0020";
	}
	p::after {
		content: "\201C \0020";
	}
	.quote_source {
		&::before, &::after {
			content: "";
		}
	}
}

// List
dl, ul, ol {
	margin: $double_space 0 $basic_space;
}

ul, ol {
	padding-left: $basic_indent;
}

li, dt, dd {
	@extend %basic;
}

dd, .list_basic li {
	margin-bottom: $basic_space;
}

dd {
	margin-left: $basic_indent;
}

ul {
	li {
		list-style: square;
	}
}

// Embedded
figure {
	margin: $double_space $basic_indent;
}

figcaption {
	@extend %basic;
}

// Main content
main {

}

// Div
div {

}



// General Classes
// ------------------------------------------------------------------------------
.list_dash {
	li {
		list-style: none;
		position: relative;

		&::before {
			content: "_";
			position: absolute;
			left: -1em;
		}
	}
}

.list_link {
	li {
		margin-bottom: $tiny_space * 2;
		text-transform: uppercase;
		a {
			display: block;
			padding: $basic_padding;
			color: $basic_font_color;
			img {
				margin-right: $basic_space;
				padding-bottom: 0.2em;
				vertical-align: text-bottom;
			}
			&:active,
			&:focus,
			&:hover {
				background-color: $basic_action_color;
				color: $basic_highlight_color;
			}
		}
	}
}

.list_horizontal {
	overflow: auto;
	li {
		@extend .float_space_left;
	}
}

.box_info {
	padding: $double_space $basic_indent;
	border-right: $basic_space solid rgba($echo_color, 0.6);
	background-color: rgba($echo_color, 0.1) !important;
}

.box_main_indent {
	margin-left: 25%;
}

.box_full_width {
	// position: relative;
	// overflow: hidden;
	// width: 100%;
}

// Columns
.column_line {
	column-rule: $basic_border;
}
.column_2, .column_3 {
	@extend p;
}
.column_2 {
	column-count: 2;
	column-gap: $space_3;
}
.column_3 {
	column-count: 3;
	column-gap: $space_4;
}

// Space and placeholders
.box_space {
	position: relative;
	width: 100%;
}

.box_cube {
	float: left;
	display: table;
	width: $space_4;
	text-align: center;
	vertical-align: middle;
	span {
		display: table-cell;
	}
}

.box_placeholder {
	width: 100%;
	height: $space_4;
	border: $border_width_4 solid rgba($alpha_color,.1);
	border-radius: $basic_corner;
	background-color: rgba($alpha_color,.2);
}

.box_placeholder_bkg {
	width: 100%;
	height: $space_4 * 2;
	border: $border_width_4 solid rgba($brightest_color,.1);
	border-radius: $basic_corner;
	padding: $basic_space;
	/*data:[<mime type>][;charset=<charset>][;base64],<encoded data>*/
	background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0' y='0' width='100%' height='100%'><line x1='0' y1='0' x2='100%' y2='100%' stroke='%23FFF' stroke-width='.5'/><line x1='0' y1='100%' x2='100%' y2='0' stroke='%23FFF' stroke-width='.5'/></svg>") no-repeat;
	background-color: rgba($brightest_color,.1);
}

// Data
.box_file_tile {
	@extend .float_space_left;
}

// Flex
.flex_column_wrap {
	@extend .flex;
	flex-wrap: wrap;

	.flex_column {
		@extend .flex_child;
		flex-grow: 1;
	}
}

// Sprites
.sprite_img {
	display: inline-block;
}
