// Forms
// -----------------------------------------------------------------------------
// form
// label
// input
// button
// select
// datalist
// optgroup
// option
// textarea
// output
// progress
// meter
// fieldset
// legend



form {

}

label {
	@extend %basic;

	input, button, textarea, select {
		margin-left: $basic_space;
	}
}

input, button, textarea, select {
	margin: $io_margin;

	&[disabled="disabled"],
	&[disabled] {
		cursor: not-allowed;
	}
}

input {
	color: $basic_io_font_color;
}

@each $input in $io_input_list, textarea, select {
	#{$input} {
		@extend %basic_mono;
		line-height: 1;
	}
}

.io_input, .io_textarea, .io_select {
	padding: $half_space;
	background-color: $basic_io_back_color;

	&:hover {
		background-color: $basic_highlight_color;
	}

	&[readonly="readonly"],
	&[readonly] {
		background-color: darken($basic_io_back_color, 30%);
	}

	&[disabled="disabled"],
	&[disabled] {
		&:hover {
			background-color: $basic_io_back_color;
		}
	}
}

@each $input in $io_date_list {
	#{$input} {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@each $input in $io_input_list, textarea {
	#{$input} {
		// border: $basic_io_border;
	}
}

.io_input, .io_textarea {
	border: $basic_io_border;

	&[readonly="readonly"],
	&[readonly] {
		border-color: darken($basic_io_border_color, 30%);
	}

	&[disabled="disabled"],
	&[disabled] {
		border-color: transparent;
	}
}

fieldset {
	margin: $high_margin;
	padding: $basic_space;
	border: $basic_border;
}

legend {
	@extend %basic;
	padding: 0 $half_space;
}

button {

}

.io_button {
	@extend %basic_button;
	border: $basic_io_border_width solid $oi_border_color;
	padding: $basic_padding;
	color: $oi_font_color;
	background-color: $oi_back_color;

	&:hover {
		// border-color: #0059F6;
		border-color: transparent;
		color: white;
		background-color: $foxtrot_color;
	}

	&[disabled="disabled"],
	&[disabled] {
		border-color: transparent;
		color: $oi_border_color;

		&:hover {
			background-color: $oi_back_color;
		}
	}
}

select {
	border: none;
}

datalist {

}

optgroup {

}

option {

}

textarea {
}

.io_textarea {
	line-height: 1.2;
}

output {

}

progress {

}

meter {

}



// Interactive elements
// -----------------------------------------------------------------------------
// details
// summary
// dialog



details {

}

summary {

}

dialog {

}



// Scripting
// -----------------------------------------------------------------------------
// script
// noscript
// template
// canvas



canvas {

}



// General Classes
// ------------------------------------------------------------------------------
.label {
	line-height: 2.5;
}

.label > input,
.label > textarea,
.label > select {
	margin: 0 $basic_space;
}

.label_table {
	display: table;

	input {
		display: table-cell;
	}
}

label + input {
	margin-left: $basic_space;
}

input + label {
	margin-left: $basic_space;
}

td > input,
td > button,
td > select,
td > textarea {
	margin: 0;
}



.grid {
	display: grid;
	grid-gap: $basic_space;

	& > input,
	& > select,
	& > textarea {
		margin: 0;
	}

	& > label {
		display: inline-block;
		margin: $basic_io_border_width;
		padding: $half_space;
	}
}

.grid_column_2 {
	grid-template-columns: max-content max-content;

}

.grid_column_4 {
	grid-template-columns: max-content max-content max-content max-content;
}
