// Forms
// -----------------------------------------------------------------------------
// form
// label
// input
// button
// select
// datalist
// optgroup
// option
// textarea
// output
// progress
// meter
// fieldset
// legend



form {

}

label {
	@extend %basic;

	input, textarea {
		margin-left: $basic_space;
	}
}

label + textarea {
	@extend %solo;
	display: block;
}

input, button, textarea {
	margin: $io_margin;

	&[disabled="disabled"],
	&[disabled] {
		cursor: not-allowed;
	}
}

input {
	color: $basic_io_font_color;

	&[disabled="disabled"],
	&[disabled] {
		cursor: not-allowed;
	}
}

@each $input in $basic_input_list, textarea, select {
	#{$input} {
		@extend %basic_mono;
		padding: $half_space;
		background-color: $basic_io_back_color;

		&:hover {
			background-color: $basic_highlight_color;
		}

		&[readonly="readonly"],
		&[readonly] {
			border-color: darken($basic_io_border_color, 30%);
			background-color: darken($basic_io_back_color, 30%);
		}

		&[disabled="disabled"],
		&[disabled] {
			border-color: transparent;
		}
	}
}

@each $input in $basic_input_list, textarea {
	#{$input} {
		border: $basic_io_border;
	}
}

@each $input in $basic_input_list {
	#{$input} {
		line-height: 1;
	}
}

@each $input in $basic_button_list {
	#{$input} {
		padding: $basic_padding;
	}
}

fieldset {
	margin: $high_margin;
	padding: $basic_space;
	border: $basic_border;
}

legend {
	@extend %basic;
	padding: 0 $half_space;
}

label + input,
.input_label_right,
.label > input,
.label > select {
	margin: 0 $basic_space;
}

button {

}

select {
	border: none;
}

datalist {

}

optgroup {

}

option {

}

textarea {

}

output {

}

progress {

}

meter {

}



// Interactive elements
// -----------------------------------------------------------------------------
// details
// summary
// dialog



details {

}

summary {

}

dialog {

}



// Scripting
// -----------------------------------------------------------------------------
// script
// noscript
// template
// canvas



canvas {

}



// General Classes
// ------------------------------------------------------------------------------
.label {
	line-height: 2.5;
}

.label_table {
	display: table;

	input {
		display: table-cell;
	}
}

.input_default {

	label {
		@extend .label_table;
		margin: $half_space 0;

		input {
			padding: $half_space ($half_space + 1);
			border-style: solid;
			border-color: transparent;
			background-color: $basic_io_back_color;
			color: $basic_io_font_color;

			&:hover {
				background-color: $darkest_color;
				color: $brightest_color;
			}
		}
	}
}
