// Root
// -----------------------------------------------------------------------------

html {
	height: 100%;
}



// Sections
// -----------------------------------------------------------------------------
// body
// article
// section
// nav
// aside
// h1-h6
// header
// footer



// Body
body {
	position: relative;
	box-sizing: $box_sizing;
	font-family: $primary_font_family;
	font-size: $basic_size;
	line-height: $basic_line;
	line-height: $text_line_basic;
	color: $basic_font_color;
	background-color: $basic_back_color;

	*,
	::before,
	::after {
		box-sizing: inherit;
	}

	&:hover {

		.layer__hover {
			background-color: transparent;
		}
	}
}

// Article
article {

}

// Section
section {

}

.sec__main_center {
	width: $basic_width;
	margin: 0 auto;
	padding-top: $space_3;

	@include forTabletPortraitUp {
		width: $width_small;
	}
	@include forTabletLandscapeUp {
		width: $width_medium;
	}
	@include forBigDesktopUp {
		width: $width_large;
	}
}

.sec__main_status {
	border-top-width: $border_width_8;
	border-top-style: solid;
	border-color: $basic_border_color;
	padding-top: $space_3;
}

// Navigation
nav {

}

// Aside element
aside {
	width: $basic_aside_width;

	&.right + .bside {
		margin-right: calc(#{$basic_aside_width} + #{$basic_space});
	}

	&.left + .bside {
		margin-left: calc(#{$basic_aside_width} + #{$basic_space});
	}

	&.left {
		float: left;
	}

	&.right {
		float: right;
	}

	*:first-child {
		margin-top: 0;
	}
}

// Headings
h1, h2, h3, h4, h5, h6 {

}

h1 {
	@extend %head_1;
	margin: $space_5 0 $space_3;
}

h1 + h1 {
	margin-top: 0;
}

h2 {
	@extend %head_2;
	margin: $space_4 0 $space_3;
}

h2 + h2 {
	margin-top: 0;
}

h3 {
	@extend %head_3;
	margin: $double_space 0;
	text-transform: uppercase;
}

h4 {
	@extend %head_3;
	margin: $double_space 0;
	text-transform: none;
}

h5 {
	@extend %head_4;
	margin: $double_space 0 $basic_space;
	text-transform: none;
}

h6 {
	@extend %basic;
	margin: $basic_space 0;
	text-transform: none;
	font-weight: bold;
}

// Header
header {

}

.header__page {
	overflow: auto;
}

.header__txt {
	margin-bottom: $space_3;
	border-bottom: $dotted_border;

	h1 {
		border-top: $basic_border;
	}
}

// Footer
footer {

}
