// Tabular data
// -----------------------------------------------------------------------------
// table
// caption
// colgroup
// col
// tbody
// thead
// tfoot
// tr
// td
// th



table {
	margin: $high_margin;
	border: $basic_border;
	border-collapse: collapse;
}

caption {
	@extend p;
	padding: $half_space 0;
	border: $dotted_border;
	text-align: center;
}

colgroup {

}

col {

}

tbody {

}

thead {

}

tfoot {

	tr:first-child td {
		border-top: $basic_border;
	}
}

tr:last-child td {
	border-bottom: 0;
}

th, td {
	@extend %basic;
	padding: $half_space;
}

th {
	border: $basic_border;
	text-align: left;
}

td {
	border-right: $cell_border;
	border-bottom: $cell_border;
}

td:last-child {
	border-right: 0;
}



// General Classes
// ------------------------------------------------------------------------------
.precol {
	border-right: $basic_border;
}

.table__blank {
	border: $basic_border_width solid transparent;

	th, td {
	border: $basic_border_width solid transparent;
	}
}

.table__free {
	border: $basic_border_width solid transparent;
}

.table__stripe {
	td {
	border-top: 0;
	border-bottom: 0;
	}

	tr:nth-child(even) td {
	background-color: rgba($brightest_color, 0.1);
	}
}

.table__fix {
	table-layout: fixed;
}

// Data
.table__file_simple {
	@extend .width_full;
}
