<!-- error-404.page -->
{% set pageBase = "../../" %}
{% set pageId = "403" %}
{% set bodyClass = "body_status" %}

{% extends "demo/_maintenance.njk" %}

{% block title %}{{ pageId }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block main %}
<main class="main_site">
  <h1>{{ pageId }}</h1>
  <h3>Client-Fehler</h3>
  <p>Nicht erlaubt! <dfn>Forbidden</dfn></p>
  <blockquote cite="https://de.wikipedia.org/wiki/HTTP-Statuscode#4xx_.E2.80.93_Client-Fehler">
    <p>Die Anfrage wurde mangels Berechtigung des Clients nicht durchgeführt, bspw. weil der authentifizierte Benutzer nicht berechtigt ist, oder eine als HTTPS konfigurierte URL nur mit HTTP aufgerufen wurde.</p>
    <p class="quote_source"><a href="https://de.wikipedia.org/wiki/HTTP-Statuscode#4xx_.E2.80.93_Client-Fehler">Wikipedia</a></p>
  </blockquote>
</main>
{{ super() }}
{% endblock %}
