.table-link_list {
	width: 100%;
	border: 0;
	table-layout: auto;

	tbody {
		border-bottom: $cell_border;

		&:hover {
			background-color: $light_color;
		}
	}

	th, td {
		border: 0;
	}

	.cell_icon {
		width: 48px;
		text-align: center;
		img {
			vertical-align: text-top;
		}
	}

	.cell_link {
		padding-right: $basic_space;
		padding-left: $basic_space;

		&:hover {
			background-color: $foxtrot_color;
		}

		a {
			display: block;
		}

		.link_url {
			display: none;
		}

		&:hover .link_url {
			display: block;
			color: $basic_highlight_color;
		}

		&:hover .link_text {
			display: none;
		}
	}

	.cell_date {
		width: 12%;
		text-align: center;
	}

	.cell_text {
		padding-right: $basic_space;
		padding-left: $basic_space;

		div {
			width: 100%;
		}

		.shorten {
			@extend %short;
			max-height: 44px;
		}
	}
}
