// General layout attributes
// ------------------------------------------------------------------------------
%size_content {
	box-sizing: content-box;
}

%size_content_solo {
	@extend %size_content;

	*,
	::before,
	::after {
		box-sizing: $box_sizing;
	}
}

%hidden {
	display: none;
}

.magic {
	@extend %hidden;
}

.center_50 {
	margin-right: 25%;
	margin-left: 25%;
}
.center_25 {
	margin-right: 37.5%;
	margin-left: 37.5%;
}

.width_full {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
}

.width_half {
	width: 50%;
	margin-right: 0;
	margin-left: 0;
}

.width_third {
	width: 33.3%;
	margin-right: 0;
	margin-left: 0;
}

.height_basic {
	height: 1024px;
}

.height_full {
	height: 100vh;
}

.space_right {
	margin-right: $space_3;
}

.wrap_center {
	&	> * {
		margin-right: (100% - $basic_width) / 2;
		margin-left: (100% - $basic_width) / 2;

		@include forTabletPortraitUp {
			margin-right: (100% - $width_small) / 2;
			margin-left: (100% - $width_small) / 2;
		}
		@include forTabletLandscapeUp {
			margin-right: (100% - $width_medium) / 2;
			margin-left: (100% - $width_medium) / 2;
		}
		@include forBigDesktopUp {
			margin-right: (100% - $width_large) / 2;
			margin-left: (100% - $width_large) / 2;
		}
	}
}



// Clearing and floating
// ------------------------------------------------------------------------------
.clear {
	clear: both;

	&::before,
	&::after {
		clear: both;
	}
}

.overflow {
	overflow: auto;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.float_space_left {
	@extend .float_left;
	margin-right: $space_3;
}

.float_half_size {
	float: left;
	width: 50%;
}

.x_long {
	overflow-x: scroll;
}


// Inlining
// ------------------------------------------------------------------------------

.inline {
	display: inline-block;
}



// Positioned elements
// ------------------------------------------------------------------------------
%full_viewport {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

%full_parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// width: 100%;
	// height: 100%;
}

.pos_abs {
	position: absolute;
}

.pos_rel {
	position: relative;
}

.pos_fix {
	position: fixed;
}

.pin_top {
	top: 0;
}

.pin_right {
	right: 0;
}

.pin_bottom {
	bottom: 0;
}

.pin_left {
	left: 0;
}

.pos_full_view {
	@extend %full_viewport;
	background-color: rgba($alpha_color, 0.5);
}

.pos_full_page {
	@extend %full_parent;
	background-color: rgba($charlie_color, 0.25);
}

.hover_back_change {
	background-color: darken($basic_back_color, $basic_color_diff);
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $basic_back_color;
	}
}

.hover_full_view_change {
	@extend %full_viewport;
	z-index: $z_heaven;
	background-color: transparentize($darkest_color, 0.5);
	transition: background-color $extended_duration $basic_timing $extended_duration;
	pointer-events: none;
}

.flex {
	display: flex;
}

.flex_wrap {
	@extend .flex;
	flex-wrap: wrap;
}

.flex_row {
	@extend .flex;
	flex-direction: column;
	// align-items: flex-start;
	justify-content: flex-start;
}

.flex_child {
	flex:  0 1 auto;
}

.flex_child_one {
	flex:  1;
}

.flex_child_end {
	align-self: flex-end;
}


// Colors
// ------------------------------------------------------------------------------
.txt_light_color {
	color: darken($basic_back_color, $basic_color_diff);
}



// Input
// ------------------------------------------------------------------------------
%default_button {
	display: inline-block;
	padding: $basic_padding;
	background-color: transparentize($basic_link_color, 0.8);
	border-radius: $basic_corner;

	&:active,
	&:focus,
	&:hover {
		background-color: rgba($basic_highlight_color, 0.1);
		color: $basic_highlight_color;
		border-color: transparent;
	}
}
