// Basic styles
// -----------------------------------------------------------------------------

%basic {
	font-family: $primary_font_family;
	font-size: $text_size_1;
	line-height: $text_line_basic;
}

%basic_mono {
	font-family: $monospace_font_family;
	font-size: $text_size_1;
	line-height: $text_line_mono;
}

%basic_print {
	font-family: $print_font_family;
	font-size: $text_size_1;
	line-height: $text_line_basic;
}

%head_all {
	color: $basic_head_color;
}

%head_1 {
	font-family: $secondary_font_family;
	font-size: $head_size_1;
	font-weight: 300;
	line-height: $head_line_basic;
}

%head_2 {
	font-family: $secondary_font_family;
	font-size: $head_size_2;
	font-weight: 300;
	line-height: $head_line_2;
}

%head_3 {
	font-family: $secondary_font_family;
	font-size: $head_size_3;
	font-weight: 300;
	line-height: $head_line_3;
}

%head_4 {
	font-family: $secondary_font_family;
	font-size: $head_size_4;
	font-weight: 300;
	line-height: $head_line_4;
}

%basic_button {
	@extend %basic;
}

%solo {
	@extend %basic;
}

%short {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; // vendor
}
