// Print elements
// -----------------------------------------------------------------------------

.div_print {
	margin: $space_3 auto;
	background-color: $white;
}

.dina4 {
	width: 21.0cm;
	height: 29.7cm;
	padding: 1.2cm 1.2cm 1.2cm 2.4cm;
}

.dina5 {
	width: 14.8cm;
	height: 21.0cm;
	padding: 1.2cm 0.6cm 0.6cm 2.4cm;
}
