<!-- default.template -->
<!DOCTYPE html>
<html lang="de" class="{{ pageClass }}" id="{{ pageId }}">
<head>
  <meta charset="utf-8">

  {% block head %}
  <title>{% block title %}{% endblock %} - HIPPIE</title>

  {% include "demo/partials/_meta.njk" %}
  {% block meta %}{% endblock %}

  {% include "demo/partials/_links.njk" %}
  {% block links %}{% endblock %}

  <link rel="stylesheet" type="text/css" media="all" href="/css/demo.css"/>
  {% endblock %}
</head>

<body>
  {% block body %}{% endblock %}

  {% block script %}
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  {% endblock %}
</body>
</html>
