<!-- template-demo-extended.njk -->
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">

  {% block head %}
  <title>{% block title %}{% endblock %} - HIPPIE</title>

  <!--[if lte IE 9]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <!--[if lte IE 9]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
  <!--Local alternative: <script src="./code/html5shiv.min.js"></script>-->
  <!--Only use one of the above!-->

  <meta name="author" content="Interaktionsweise">
  <meta name="description" content="hippie example">
  <meta name="generator" content="Notepad++, Atom">
  <meta name="robots" content="noindex">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />

  <link rel="icon" href="./favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />

  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" media="all" href="../css/demo.css"/>
  <!-- <link rel="stylesheet" type="text/css" media="print" href="./css/print.css"/> -->
  {% endblock %}
</head>

<body id="{{ pageId }}" class="body__demo">
  {% include "hippie/partials/page-hover.njk" %}
  <div id="root">
  <header id="js_head" class="header_site">
    {% block body_header %}
    <!-- super stuff -->
    {% endblock %}
  </header>
  <main class="main_site">
    {% block body_content %}{% endblock %}
  </main>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {# <script src="bower_components/jquery/dist/jquery.js"></script> #}
  {% block script %}{% endblock %}
</body>
</html>
