<!-- page-blank.njk -->
{% set pageId = "blank" %}
{% set pageClass = "height_full" %}

{% extends "demo/default.njk" %}

{% block title %}Blank{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" media="all" href="../css/demo.css"/>
<!-- <link rel="stylesheet" type="text/css" media="print" href="./css/print.css"/> -->
{% endblock %}

{% block body_content %}

{% endblock %}
