<!-- page-intro.njk -->
{% set pageId = "intro" %}
{% set pageClass = "" %}

{% extends "hippie/demo-extended.njk" %}

{% block title %}Intro{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body_content %}
<div class="temp_layer">
  <!-- <div class="exp_overlay_btn exp_help_btn">
  <span class="span_solo">?</span>
</div> -->
{% include "hippie/partials/nav-page-meta.njk" %}
</div>

<div id="begin" class="demo__intro">
  Dies ist einfach nur Text.<br>Weniger wäre Nichts, denn dieser Text ist nicht durch ein spezifisches Element umschlossen.<br>Dies ist normalerweise nicht vorgesehen und wird hier nur zur Einführung und Anschauung verwendet.<br><br>
  <p>Es wirken nur die Eigenschaften des <code>&lt;body&gt;</code> Elements. Dieses Element umschließt den gesamten Inhalt des Dokumentes und kommt daher nur einmal vor. Inhalte sind normalerweise durch Elemente definiert. Grundlegende Elemente teilen das Dokument zunächst in Abschnitte.</p>
  <h1 id="sections">Bereiche</h1>
  {# // body // article // section // nav // aside // h1-h6 // header // footer #}
  <article>
    <section>
      <p>Einen Abschnitt, welcher für sich alleine stehen kann, definiert sich durch <code>&lt;article&gt;</code>. Solch ein Element wird oft detailliert gestaltet, kommt aber auch ohne jegliche Gestaltung aus.</p>
      <p>Noch allgemeiner ist das <code>&lt;section&gt;</code> Element. Es schafft Bereiche um Inhalte zu strukturieren.</p>
      <p>Bestimmte Bereiche haben einen vorgegebene Zweck.<br>Folgende Bereiche sind vorgegeben:</p>
    </section>
    <!-- <div class="overflow"> -->
    <aside class="left">
      <p>Ein Bereich, der seitlich zum hauptsächlichen Inhalt verläuft, wird mit <code>&lt;aside&gt;</code> markiert.</p>
    </aside>
    <section class="bside">
      <header>
        <p>Um einleitenden Inhalt festzuhalten, wird das <code>&lt;header&gt;</code> Element eingesetzt. Es beinhaltet häufig auch Navigationselemente. Dabei bezieht es sich auf den nächsten, umgebenden Abschnitt.</p>
        <nav>
          <p>Das Element <code>&lt;nav&gt;</code> umfasst Elemente, die zur Navigation innerhalb des Dokumentes dienen.</p>
        </nav>
      </header>
      <footer>
        <p>Auch abschließender Inhalt kann für einen Abschnitt definiert werden. Dazu wird <code>&lt;footer&gt;</code> eingesetzt.</p>
      </footer>
    </section>
    <!-- </div> -->
    <p>Zur feineren Strukturierung und Gliederung von Texten sind einige weitere Elemente verfügbar. Diese werden nun der Reihe nach aufgeführt. Zu Beginn die Überschriften, da sie noch zu den Abschnitten gehören. Das kommt vermutlich daher, da Abschnitte häufig eine kennzeichnende Überschrift beinhalten.</p>
    <h1>Überschrift 1</h1>
    <p>Eine Überschrift erster Ordnung <code>&lt;h1&gt;</code> ist sehr groß und steht daher oft außerhalb eines Textflusses. Sie schafft eine deutliche Trennung sowohl inhaltlich wie auch optisch. Sie erzeugt einen Abstand gleich der horizontalen Linie über sich.</p>
    <h2>Überschrift 2</h2>
    <p>Die weiteren Überschriften <code>&lt;h2&gt;</code> bis <code>&lt;h6&gt;</code> gliedern Text und werden auch als Titel für andere Elemente eingesetzt.</p>
    <h3>Überschrift 3 ist in Großbuchstaben gesetzt</h3>
    <h4>Überschrift 4 verwendet normale Buchstaben und gleicht ansonsten Überschrift 3</h4>
    <h5>Überschrift 5 ist Überschrift 5</h5>
    <h6>Überschrift 6</h6>
    <p>Schließlich eine Überschrift in der Größe des Fließtextes. Allerdings in fett.</p>
  </article>
  <article>
    <h1 id="grouping">Gruppierung</h1>
    {# // p // address // hr // pre // blockquote // ol // ul // li // dl // dt // dd // figure // figcaption // main // div #}
    <p>Ein Absatz <code>&lt;p&gt;</code>. Zugegeben ein kurzer.</p>
    <p>Aus mehreren Absätzen wird ein ganzer Text. Solche Texte haben gelegentlich großen informativen oder unterhaltsamen Charakter.<br>Einfache Zeilenumbrüche werden darin mit <code>&lt;br&gt;</code> erreicht.</p>
    <p>Die Unterteilung in Absätze ist eine von vielen Möglichkeiten Texte zu gruppieren und ihnen Struktur zu verleihen. In diesem Dokument flattert Text normalerweise von Links daher. Er ist schwarz und in einer serifenlosen Schrift gesetzt. Zu weiteren Formatierungen, die eher auf einer Ebene der Zeichen einzuordnen ist, wird im Verlauf näher eingegangen. Zunächst die Struktur:</p>
    <p class="txt_center js_pop">Text sitzt gerne auch mal zentriert.</p><div class="exp_pop"><code class="code_solo">p.txt_center</code></div>
    <p class="txt_right js_pop">Rechtsbündig ist schon eher eine Ausnahme bzw. Besonderheit.</p><div class="exp_pop"><code class="code_solo">p.txt_right</code></div>
    <address>Das Element <code>&lt;address&gt;</code> hat den Zweck, Kontaktinformationen bereit zu stellen. Diese werden, je nach Position des Elements im Kontext der gesamten Seite, anders gewertet.</address>
    <p>Texte können auf verschiedene Arten unterteilt werden. Dafür werden unterschiedlich formatierte <code>&lt;hr&gt;</code> Elemente verwendet. Die horizontale Linie ist die Ausgangsformatierung, daher auch der abgekürzte Name des Elements. Eine Linie ist schwarz und durchgezogen.</p>
    <hr/>
    <p>Es ist auch eine unsichtbare Unterteilung möglich:</p>
    <hr class="hr_hidden js_pop"/><div class="exp_pop"><code class="code_solo">hr.hr_hidden</code></div>
    <p>Die Linie darf auch gepunkted sein. Zudem sind verschiedene Längen möglich. Diese sind immer ein Prozentwert der verfügbaren Breite. Hier in gleicher Reihenfolge 100%, 50% und 25%:</p>
    <hr class="hr_dotted js_pop" emmet/><div class="exp_pop"><code class="code_solo">hr.hr_dotted</code></div><!--hr.hr_dotted-->
    <hr class="center_50 js_pop"/><div class="exp_pop"><code class="code_solo">hr.center_50</code></div>
    <hr class="hr_dotted center_25 js_pop"/><div class="exp_pop"><code class="code_solo">hr.hr_dotted.center_25</code></div>
    <p class="column_2 js_pop">Zur horizontalen Unterteilung kommt natürlich auch eine vertikale Trennung hinzu. Text kann so zum Beispiel in mehrere Spalten unterteilt werden. Dies ist hilfreich, wenn ein Text durch eine breite Fläche sehr lange Zeilen bekommen würde. Es ist dann schwer den neuen Zeilanfang zu finden. Die vertikale Trennung dient in erster Linie dazu, diesem Umstand zu begegnen. Auch hier kann die Unterteilung viele Formen annehmen.</p><div class="exp_pop"><code class="code_solo">p.column_2</code></div>
    <p class="column_3 column_line js_pop">Drei Spalten gilt es jetzt also zu Füllen. Dann erst wird die Trennung der Spalten durch eine Linie sichtbar.</p><div class="exp_pop"><code class="code_solo">p.column_3.column_line</code></div>
    <p class="column_3 column_line">Ist der Text nicht lang genug bleibt eventuell eine Spalte leer. Diesmal wird dies aber nicht passieren, denn das Anschauungsbeispiel ist ja nun durch den vorherigen Absatz schon gegeben.<br>Oft ist es sinnvoll, Absätze mit mehreren Spalten deutlich von nachfolgenden Absätzen zu trennen. Da der Textfluss spaltenweise verläuft, liest man eventuell an der falschen Stelle weiter. Ach das ziegen diese beiden Absätze ganz gut.</p>
    <p>Es gibt die Möglichkeit vorformatierten Text darzustellen <code>&lt;pre&gt;</code>.</p>
    <pre>Dadurch<br>	bleiben<br>		Einrückungen<br>			durch<br>				Tabulatoren<br>					erhalten.</pre>
    <p>Wird Bezug auf fremde Inhalte genommen, kommt ein Zitat <code>&lt;blockquote&gt;</code> zur Anwendung. Es besteht aus der Aussage und der Quelle.</p>
    <blockquote class="js_pop" cite="https://de.wikipedia.org/wiki/Zitat/">
      <p>Ein Zitat (das, lateinisch citatum „Angeführtes, Aufgerufenes“ zu lat. citāre „in Bewegung setzen, vorladen“, vgl. „jemanden vor Gericht zitieren“) ist eine wörtlich übernommene Stelle aus einem Text oder ein Hinweis auf eine bestimmte Textstelle.</p>
      <p class="quote_source"><a href="https://de.wikipedia.org/wiki/Zitat/">Wikipedia</a></p>
    </blockquote>
    <div class="exp_pop"><code class="code_solo">blockquote>p+p.quote_source</code></div>
    <p>Text bekommt durch Listen besondere optische wie auch inhaltliche Struktur. Es gibt ungeordnete <code>&lt;ul&gt;</code> und geordnete Listen <code>&lt;ol&gt;</code> sowie Beschreibungslisten <code>&lt;dl&gt;</code>. Die beiden ersten Varianten beinhalten das Listenelement <code>&lt;li&gt;</code>. Beschreibungslisten beinhalten jeweils das Paar von Ausdruck <code>&lt;dt&gt;</code> und Beschreibung <code>&lt;dd&gt;</code>. Im Folgenden eine Liste der Listen in ihrer Ausgangskonfiguration:</p>
    <ul>
      <li>Ungeordnete</li>
      <li>Listen</li>
    </ul>
    <ul class="list_dash">
      <li>Verschiedener</li>
      <li>Art</li>
    </ul>
    <ol>
      <li>Geordnete</li>
      <li>Liste</li>
    </ol>
    <dl>
      <dt>Beschreibungsliste</dt>
      <dd>Auch Definitionslisten genannt</dd>
      <dt>Ausdruck</dt>
      <dd>Beschreibung</dd>
    </dl>
    <p>Auch Inhalte, die nicht in Textform sind, können durch einen Bezug integriert werden. Wie diese Fahne werden sie mit <code>&lt;figure&gt;</code> umschlossen und tragen eine Bezeichnung.</p>
    <figure class="js_pop">
      <figcaption>Fahne</figcaption>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10%" height="10%" viewBox="0 0 1920 1200" preserveAspectRatio="xMinYMax slice" alt="Background flag">
        <rect id="triangle-5" y="0" fill="#273F8B" width="1920" height="1200"/>
        <polygon id="triangle-6" fill="#8E1F68" points="0,1200 1920,458.25 1920,1200 "/>
        <polygon id="triangle-7" fill="#D30A51" points="0,1200 1920,522.75 1920,1200 "/>
        <polygon id="triangle-8" fill="#F2AF13" points="0,1200 1920,741.75 1920,1200 "/>
        <polygon id="triangle-9" fill="#FAD803" points="0,1200 1920,787.5 1920,1200 "/>
        <polygon id="triangle-4" fill="#3C579A" points="0,1200 0,0 733.5,0 "/>
        <polygon id="triangle-3" fill="#B7E0F0" points="0,1200 0,0 688.5,0 "/>
        <polygon id="triangle-2" fill="#6BC7D9" points="0,1200 0,0 453,0 "/>
        <polygon id="triangle-1" fill="#52BED1" points="0,1200 0,0 370.5,0 "/>
      </svg>
    </figure>
    <div class="exp_pop"><code class="code_solo">figure>figcaption+{element}</code></div>
    <p>Eine sehr klar definierte Gruppierung stellt das Element <code>&lt;main&gt;</code> dar. Es umschließt den hauptsächlichen Inhalt des Dokumentes.</p>
    <p>Eine von sich aus undefinierte Möglichkeit zur Gruppierung von Text besteht durch <code>&lt;div&gt;</code>. Dieses Element hat, ohne weitere Klassifizierung keine Auswirkungen auf die Erscheinung oder die inhaltliche Aussage. Daher der allgemeine Einsatz.</p>
    <div class="box_info"><p>Es wird allerdings häufig eingesetzt und bekommt vielfältige Funktionen zugeordnet wie diese hervorgehobene Information zeigt.</p></div>
  </article>
  <article>
    <h1 id="textlevel">Textebene</h1>
    {# // a // em // strong // small // s // cite // q // dfn // abbr // ruby // rb // rt // rtc // rp // data // time // code // var // samp // kbd // sub // sup // i // b // u // mark // bdi // bdo // span // br // wbr // -- Edits -- // ins // del #}
    <h2>Verweise</h2>
    <p>Ein wesentlicher Bestandteil von Hypertext sind Verweise <code>&lt;a&gt;</code>. Sie dienen als Sprungmarken innerhalb des Netzwerks. Es kann grob zwischen internen und externen Verweisen unterschieden werden. <a class="a_line js_pop" href="#links">Interne Verweise</a><span class="exp_pop"><code class="code_solo">a.a_line</code></span> können Verknüpfungen innerhalb des aktuellen Dokumentes sein oder auch Funktionen aktivieren. <a class="a_line" href="http://de.wikipedia.org">Externe Verweise</a> verknüpfen Inhalte über das gesamte Netzwerk hinweg. Sie können auch auf E-Mail Adressen oder Dateien zeigen.</p>
    <p>Nicht nur Text kann als Verweis verwendet werden. Auch andere Elemente wie Bilder können verknüpft werden. Abhängig von ihrer Funktion und ihrem Zweck, werden Verweise unterschiedlich formatiert. <a href="#">Farbige</a> oder <a class="a_line" href="#">unterstrichene Varianten</a> sind möglich.</p>
    <p>Wird der Verweis innerhalb eines <code>&lt;nav&gt;</code> Elementes notiert, bekommt er die spezielle Bedeutung eines Navigationsverweises innerhalb des Dokumentes oder der Anwendung. Auf diese Verwendung wird im Folgenden genauer eingegangen <span class="wip_txt">...</span></p>
    <h2>Formatierungen</h2>
    <p>Texte, Wörter oder Zeichen können vielfältig formatiert werden.</p>
    <p>Sie können <b>fett</b> <code>&lt;b&gt;</code> oder <i>kursiv</i> <code>&lt;i&gt;</code> geschrieben sein. <b><i>Auch beides ist möglich!</i>?</b>! Sollen sie nicht nur anders <strong>aussehen</strong>, sondern auch <em>eine besondere inhaltliche Bedeutung</em> bekommen, werden sie mit <code>&lt;strong&gt;</code> und <code>&lt;em&gt;</code> ausgezeichnet.</p>
    <p>Das <code>&lt;u&gt;</code> Element stellt eine Spanne von Text mit einer unartikulierten, wenn auch explizit dargestellten, nicht-textuellen Anmerkung dar, wie z.B. die Beschriftung des Textes als Eigenname wie <u>Interaktionsweise</u>, oder die Beschriftung des Textes als falsch geschrieben.</p>
    <p>Ähnlich ist es mit dem Element <code>&lt;small&gt;</code>. <small>Es steht für Randnotizen wird aber häufig auch kleiner dargestellt.</small></p>
    <p>Gerade bei wörtlichen Zitierungen kommt häufig das Anführungszeichen zum Einsatz. Es kann durch die Formatierung automatisch ergänzt werden.</p>
    <blockquote class="quote_mark js_pop" cite="">
      <p>Das kannst du schon so machen aber dann isses halt Kacke.</p>
      <p class="quote_source">o. V.</p>
    </blockquote>
    <div class="exp_pop"><code class="code_solo">blockquote.quote_mark>p+p.quote_source</code></div>
    <p>Ein besonderer inhaltlicher Bezug ist der Titel eines Werkes. Sowas kann mit <code>&lt;cite&gt;</code> ausgezeichnet werden. <cite>Pulp Fiction</cite>, super Film - zum Beispiel.</p>
    <p>Auch die Auszeichnung <code>&lt;code&gt;</code> wurde bis hier hin schon verwendet. Sie markiert Maschinensprache.<code>var code = "Das ist code";</code></p>
    <p>In diesem Beispiel wird die Variable <var>code</var> definiert. Solch ein spezieller Text kann mit dem dafür vorgesehenen Element <code>&lt;var&gt;</code> ausgezeichnet werden.</p>
    <p>Für zusammenhängende Blöcke wird die Auszeichnung oft in Kombination mit dem Element <code>&lt;pre&gt;</code> verwendet:</p>
    <pre class="pre_code"><code>&lt;html&gt;<br>  &lt;head&gt;<br>    &lt;title&gt;Hyper Text Markup Language&lt;/title&gt;<br>  &lt;/head&gt;<br>  &lt;body id="root"&gt;<br>    &lt;!-- Content goes here --&gt;<br>    &lt;p class="example"&gt;Just like this.&lt;/p&gt;<br>  &lt;/body&gt;<br>&lt;/html&gt;</code></pre>
    <p>Dabei bleiben vorhandene Textformatierungen wie Zeilenumbrüche und Einrückung erhalten.</p>
    <p>Soll beispielhaft auf Ausgaben von Computern verwiesen werden, wird das <code>&lt;samp&gt;</code> Element verwendet. Der Computer hat gesagt: <samp>Ich kann das angegebene Objekt nicht finden</samp>.</p>
    <p>Benutzereingaben haben ebenfalls ein eigenes Element <code>&lt;kbd&gt;</code>. Damit werden Eingaben durch den Nutzer, wie Drücken Sie gleichzeitig <kbd>Strg</kbd> und <kbd>A</kbd>, gekennzeichnet.</p>
    <p>Die Zeichen in Absätzen bis hin zu ganzen Texten können, mit einem geeigneten Eingabegerät, markiert werden. Dies stellt sich wie folgt dar:</p>
    <p class="txt_center">Bei<mark class="mark_cursor">spiel zum mark</mark>ieren ^^.</p>
    <p>Eine Markierung kann, mittels <code>&lt;mark&gt;</code>, auch durch den Autor geschehen. Diese stellt sich ein wenig anders dar: <mark>Diese Worte sind markiert.</mark></p>
    <p>Um Text, dessen schreibweise nicht vorhersehbar ist, zu markieren wie z.B. Benutzernamen <bdi>كائن بشري</bdi>, die auch rechtsbündig geschrieben sein können, wird das <code>&lt;bdi&gt;</code> Element eingesetzt.<br>Die Schreibweise kann auch auch vom Author vorgegeben und expliziert geändert werden. Dies wird dem <code>&lt;bdo&gt;</code> Element umgesetzt.</p>
    <bdo dir="rtl">
      <ul>
        <li>كائن بشري</li>
        <li>إنسان آلي</li>
      </ul>
    </bdo>
    <p>Neben den vielen speziellen Elmenten gibt es auch ein Element, das keine vordefinierte Bedeutung hat. Es ist das <code>&lt;span&gt;</code> Element.<br></p>
    <p><span class="wip_txt">...</span></p>
    <h2>Änderungen</h2>
  </article>
  <article>
    <h1>Eingebundene Inhalte</h1>

  </article>
  <article>
    <h1>Tabellen</h1>
    <p>Tabellen bieten besonders geordnete Struktur. Häufig werden in ihnen Text und Daten kombiniert dargestellt. Dies erfordert individuelle Formatierungen. Einige grundlegende Eigenschaften werden im folgenden aufgezeigt. Tabellen sind in ihrer Größe entweder vordefiniert oder richten sich nach ihrem Inhalt. Das gilt auch für die einzelnen Zellen.<span class="wip_txt">...</span></p>
    <table class="width_full js_pop">
      <tbody>
        <tr>
          <td>Eine</td>
          <td>einfache</td>
        </tr>
        <tr>
          <td colspan="2">Tabelle</td>
        </tr>
      </tbody>
    </table>
    <div class="exp_pop"><code class="code_solo">table.width_full>tbody>tr>td*2^tr>td[colspan=2]</code></div>
    <div class="overflow">
      <table class="float_space_left js_pop">
        <tbody>
          <tr>
            <td>Eine</td>
            <td>fließende</td>
          </tr>
          <tr>
            <td colspan="2">Tabelle</td>
          </tr>
        </tbody>
      </table>
      <div class="exp_pop"><code class="code_solo">table>tbody>tr>td*2^tr>td[colspan=2]</code></div>
      <table class="table_blank float_space_left js_pop">
        <tbody>
          <tr>
            <td>Mit</td>
            <td>ohne</td>
          </tr>
          <tr>
            <td colspan="2">Linien</td>
          </tr>
        </tbody>
      </table>
      <div class="exp_pop"><code class="code_solo">table.table_blank>tbody>tr>td*2^tr>td[colspan=2]</code></div>
    </div>
    <p>Die nächste Tabelle verwendet alle zur Auszeichnung verfügbaren Elemente und hat eine starre Zellverteilung:</p>
    <table class="width_full table_fix js_pop">
      <caption>Beschreibung bzw. Zusammenhang der Tabelle</caption>
      <thead>
        <tr>
          <th>Kopfzeile</th>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Fußzeile</td>
          <td>A</td>
          <td>B</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Tabelle</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>mit</td>
          <td>Titel</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Kopf-</td>
          <td>und</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Fußzeile</td>
        </tr>
      </tbody>
    </table>
    <div class="exp_pop"><code class="code_solo">table.width_full.table_fix>caption+thead>tr>th*3^^tfoot>tr>td*3^^tbody>(tr>td*3)*3</code></div>
    <hr class="hr_hidden">
    <p>Viele weitere Formate sind möglich <span class="wip_txt">...</span></p>
    <table class="width_full js_pop">
      <thead>
        <tr>
          <th class="precol"></th>
          <th>Kopfzeile</th>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="precol">Vorspalte</td>
          <td>Eine</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="precol">1</td>
          <td></td>
          <td>erweiterte</td>
          <td></td>
        </tr>
        <tr>
          <td class="precol">2</td>
          <td></td>
          <td></td>
          <td>Tabelle</td>
        </tr>
      </tbody>
    </table>
    <div class="exp_pop"><code class="code_solo">table.width_full>thead>tr>th.precol+th[colspan=2]^^tbody>tr>td.precol+td*2^tr>td.precol+td[colspan=2]</code></div>
    <table class="width_full table_stripe table_free">
      <thead>
        <tr>
          <th>Kopfzeile</th>
          <th>A</th>
          <th>B</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tabelle</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ohne</td>
          <td>Rahmen</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>jedoch</td>
          <td>mit</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Streifen</td>
        </tr>
      </tbody>
    </table>
    <table class="table_fix">
      <caption>Beschreibung bzw. Zusammenhang der Tabelle</caption>
      <thead>
        <tr>
          <th>Kopfzeile</th>
          <th>1</th>
          <th>&gt;9000</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td>Fußzeile</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Alpha</td>
          <td>0</td>
          <td>9000</td>
        </tr>
        <tr>
          <td>Bravo</td>
          <td>1</td>
          <td>9001</td>
        </tr>
        <tr>
          <td>Charlie</td>
          <td>0</td>
          <td>9000</td>
        </tr>
      </tbody>
    </table>
  </article>
  <article>
    <h1>Formulare</h1>
    <p>Spätestens hier werden Betrachter zu Benutzern. Texteingabefelder und verschiedene Bedienelemente geben Möglichkeiten zur Interaktion. Diese Elemente sind in vielerlei Hinsicht besonders. Werden sie nicht explizit gestaltet, ist ihre Erscheinung system- bzw. browserabhängig. <span class="wip_txt">(Vielleicht ist das auch scheiße, hier darauf einzugehen) ...</span> Üblicherweise stehen alle Formularelemente innerhalb eines <code>&lt;form&gt;</code> Elementes. Dieses ist notwendig um Angaben zur Kommunikation mit dem Server zu setzen. Es hat normalerweise keine gestalterische Funktion.</p>
    <p>Grundlegend ist das Element <code>&lt;input&gt;</code>. Es hat viele Attribute um den Typ der Eingabe anzupassen. Ist es undefiniert nimmt es jegliche textbasierte Information auf und erhält eine Standardgröße.</p>
    <p><input value="Undefiniert"/></p>
    <p>Ein spezieller Typ des Eingabefeldes verändert seine Funktion zu einer Schaltfläche <code>&lt;input[type="button"]&gt;</code>. Es gibt allerdings auch ein eigenes Element <code>&lt;button&gt;</code> dafür.</p>
    <p><input type="button" value="Input Button"><button>Button</button></p>
    <p>Interaktive Elemente können durch das Attribut <code>&lt;readonly&gt;</code> nur lesbar gemacht werden oder mittels <code>&lt;disabled&gt;</code> gänzlich deaktiviert werden.</p>
    <p><input type="text" value="Read Only Text" readonly><input type="text" value="Disabled Text" disabled><button disabled>Button</button></p>
    <p>Das Element <code>&lt;label&gt;</code> ergänzt interaktive Elemente um eine Beschriftung. Wichtig ist hier, dass die Beziehung beider Elemente zu einander deutlich ist.</p>
    <div class="overflow">
      <div class="float_half_size">
        <label for="demo__input">Beschriftung:</label><input type="text" id="demo__input">
      </div>
      <div class="float_half_size txt_right">
        <input type="text" id="demo__input" class="input_label_right"><label for="demo__input">Beschriftung</label>
      </div>
    </div>
    <p>Zusätzlich zur Beschriftung einzelner Elemente gibt es auch die Möglichkeit Gruppierungen zu schaffen. Diese werden mit <code>&lt;fieldset&gt;</code> realisiert.</p>
    <fieldset>
      <label for="demo__output">Beschriftung:</label><input type="text" readonly id="demo__output">
    </fieldset>
    <p>Sie können mittels <code>&lt;legend&gt;</code> auch eine eigene Beschriftung erhalten.</p>
    <fieldset>
      <legend>Einfache Eingabefelder</legend>
      <label>Texteingabe<input type="text" placeholder="Text"></label>
      <label>Schaltfläche<input type="button" value="Senden"></label>
    </fieldset>
    <fieldset>
      <legend>Weitere Eingabemöglichkeiten</legend>
      <p>Innerhalb einer Gruppe können nicht nur Ein- und Ausgabefelder platziert werden. Andere Elemente ergänzen Information oder lockern das Erscheinungsbild auf. Hier nun eine Liste möglicher Arten von Eingabefeldern.</p>
      <pre class="pre_code"><code>ul>(li>label>input[type="text"])</code></pre>
      <ul class="list_basic">
        <li><label for="">Einfache Datumseingabe<input type="date"></label></li>
        <li><label for="">Einfache Zahleneingabe<input type="number"></label></li>
        <li><label for="">Einfache @dresseingabe<input type="email" placeholder="@"></label></li>
        <li><label for="">Einfache Farbauswahl<input type="color"></label></li>
        <li><label for="">Einfache Dateiauswahl<input type="file"></label></li>
      </ul>
      <div class="overflow">
        <aside class="left">
          <p>Dies ist ein Eingabefeld für Fließtext. Es bildet auch Zeilenumbrüche ab und hat häufig variable Größen.</p>
        </aside>
        <section class="bside">
          <label>Mehrzeilige Texteingabe</label>
          <textarea rows="10"></textarea>
        </section>
      </div>
    </fieldset>
    <input type="checkbox"/>
    <input type="datetime"/>
    <input type="image"/>
    <input type="month"/>
    <form action="" method="get">
      <p class="label">
        Show me a <select name="F">
          <option value="0"> Plain list</option>
          <option value="1" selected="selected"> Fancy list</option>
          <option value="2"> Table list</option>
        </select>
        Sorted by <select name="C">
          <option value="N" selected="selected"> Name</option>
          <option value="M"> Date Modified</option>
          <option value="S"> Size</option>
          <option value="D"> Description</option>
        </select>
        <select name="O">
          <option value="A" selected="selected"> Ascending</option>
          <option value="D"> Descending</option>
        </select>
        <select name="V">
          <option value="0" selected="selected"> in Normal order</option>
          <option value="1"> in Version order</option>
        </select>
        Matching <input type="text" name="P" value="*" />
        <input type="submit" name="X" value="Go" />
      </p>
    </form>

    <h2>Interaktive Elemente</h2>
  </article>
  <article>
    <h1>Struktur</h1>
    <div class="box_placeholder"></div>
    <hr class="hr_hidden"/>
    <div class="box_placeholder">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%">
        <line x1='0' y1='0' x2='100%' y2='100%' stroke='#000' stroke-width='.5'/>
        <line x1='0' y1='100%' x2='100%' y2='0' stroke='#000' stroke-width='.5'/>
      </svg>
    </div>
    <hr class="hr_hidden"/>
    <div class="box_placeholder_bkg"></div>
  </article>
  <article>
    <h1>Medien</h1>
  </article>
  <article>
    <h1>Druck</h1>
  </article>

  <section>
    <header class="header_txt">
      <h1>Ende der Einführung</h1>
      <p>Dies war eine Übersicht der grundlegenden Elemente. Nun folgen weitere Elemente mit besonderen Formatierungen.</p>
    </header>
  </section>
</div>

<section class="sec_main_center">
  <header>
    <h1>HIPPIE Erklärung</h1>
    <p>Aufbau, Standardwerte</p>
  </header>
  <article>
    <p>&hellip;</p>
  </article>
</section>

{% include "hippie/partials/footer.njk" %}
{% endblock %}

{% block script %}
{{ super() }}
<script src="../js/all.min.js" type="text/javascript"></script>
<script type="text/javascript">
// Page specific
// ------------------------------------------------------------------------------
$( document ).ready(function() {
  console.log('HIPPIE');

});
</script>
{% endblock %}
